.airDropBtn{display: none;}

/*==============================section3 區塊==============================*/

#sec1 {padding-top: 100px;background-color: #f7f7f7;background: url('../img/airdrop_bkg.jpg')no-repeat top;background-size: cover;}
#sec1 .articleCnt{padding:0px;text-align: center;}
#sec1 .articleCnt img{width:100%;}
#sec1 .coin{width: 120px;margin: 10px auto;}
#sec1 .coin img{width: 100%;}
#sec1 .title{font-size:30px;font-weight: bold;margin-bottom: 20px;}
#sec1 .title span{padding:0 10px;color: #c10214;}
#sec1 .desc{font-size: 16px;font-weight: bold;line-height: 25px;max-width: 700px;margin:0px auto 40px;}

#sec1 .cubeCnt{display: flex;margin: 50px 0 20px;}
#sec1 .cube{position: relative;height: 100%;border-radius: 5px;padding:30px 30px 80px;background-color: #fff;border:1px #ddd solid;margin-bottom: 20px;cursor: pointer;}
#sec1 .cube .title{font-size: 18px;font-weight: normal;margin: 5px 0;}
#sec1 .cube .desc{font-size: 20px;color: #3a3a3a;margin: 10px 0 0px;}
#sec1 .cube .desc span{color: #c10214;}
#sec1 .goBtn {position: absolute;width: 100%;font-size: 18px;font-weight: bold;line-height: 25px;background-color: #f2f2f4;padding: 15px;bottom: 0;left:0;transition: all 0.3s;}
#sec1 .goBtn.target{background-color: #4b32a7;color: #fff;}
#sec1 .cube .numberCircle,#sec1 .cube .coinCircle{position:absolute;width: 50px;height: 50px;top:-30px;left: 50%;margin-left:-25px;border-radius: 50%;overflow: hidden;transition: all 0.3s;}
#sec1 .text {font-size: 14px;color: #6a6a6a;text-align: right;margin-bottom: 50px;}
#sec1 .cube .coinCircle{background: url('../img/coin.png')no-repeat center;background-size: cover;}

/*==============================media 區塊==============================*/

@media (max-width: 992px)  {

}

@media (max-width: 768px)  {

}

@media (max-width: 576px)  {
    #sec1 .aRegion{padding:20px;}
    #sec1 .cubeCnt{display: block;}
    #sec1 .cube{margin-bottom: 50px;}
    #sec1 .text{text-align: center;}
}


















