/*==============================section3 區塊==============================*/

#sec1 {padding: 130px 0 60px;background-color: #fff;}
#sec1 .articleCnt{margin-bottom: 100px;max-width: 800px;margin: auto;}
#sec1 .title{text-align: center;font-size:30px;font-weight: bold;margin-bottom: 20px;}
#sec1 .title span{color: #c10214;}
#sec1 .aRegion{position: relative;width:100%;min-height:400px;padding:50px 100px;background-color: #f5f5f5;border-radius: 5px;margin-bottom: 20px;}
#sec1 .aRegion img,#sec1 .aRegion iframe{max-width:100% !important;}
#sec1 .aRegion input{margin-bottom: 20px;background-color: #fff;color: #8a8a8a;}
#sec1 .aRegion textarea{min-height: 250px;background-color: #fff;color: #8a8a8a;}
#sec1 .aTitle{font-size: 24px;font-weight: bold;margin-bottom: 20px;color: #c10214;text-align: center;}
#sec1 .aDesc{font-size: 16px;line-height: 25px;margin-bottom: 20px;}

#sec1 .iconCube{width: 30px;height:30px;border-radius: 3px;line-height: 30px;font-size: 18px;text-align: center;background-color: #c10214;color: #fff;}

/*==============================media 區塊==============================*/

@media (max-width: 992px)  {

}

@media (max-width: 768px)  {

}

@media (max-width: 576px)  {
    #sec1 .aRegion{padding:20px;}
}


















