/*==============================section3 區塊==============================*/

#sec1 {padding: 130px 0 60px;}
#sec1 .articleCnt{text-align: center;margin-bottom: 100px;max-width: 600px;margin: auto;}
#sec1 .title{font-size:30px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec1 .title span{color: #c10214;}
#sec1 .desc{font-size: 16px;line-height: 25px;color: #fff;max-width: 700px;margin:auto;margin-bottom: 40px;}
#sec1 .btn{font-size: 24px;height: auto;margin-top: 10px;}
#sec1 .sendPwBtn{color:#fff;background-color: #34a0fa;margin-bottom: 50px;}
#sec1 .sendBtn{color:#fff;background-color:#c10214;margin-bottom: 50px;}

#sec1 .checkbox{color: #ddd;font-weight: bold;margin:5px;}
#sec1 .checkbox a{color: #2da0f9;font-weight: bold;}

/*==============================media 區塊==============================*/

@media (max-width: 992px)  {

}

@media (max-width: 768px)  {

}

@media (max-width: 576px)  {
    #sec1 .cube{margin-bottom: 20px;}
    #sec1 .articleCnt .table td{padding:2px;}
    #sec1 .btn{padding: 5px 10px;}
}


















