#sec2,#sec7{display: none;}

.section{position: relative;}

#warningModel.modal .modal-content{background-color: #dc3545;color: #fff;line-height: 30px;padding: 0 10px;font-size: 18px;}
#warningModel.modal .modal-header{border-bottom: 1px solid #e5e5e5;}
#warningModel.modal .modal-header .close{color: #fff;}

/*==============================section1 區塊==============================*/

#sec1{    
    background-image: url('../img/home_intro_bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 130px 0 60px;
}

#sec1 .leftText,#sec1 .rightText{float: left;width: 100%;margin: 20px 0;}
#sec1 .title{font-size: 30px;line-height: 45px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec1 .desc{font-size: 21px;line-height: 25px;color: #c10214;margin-bottom: 20px;background-color: #fff;padding: 10px;border-radius: 4px;border-right: 20px #c10214 solid;}
#sec1 .desc small{color: #565656;}
#sec1 .leftText .btnGroup{float: left;margin-bottom: 10px;}
#sec1 .iframeCnt{width: 100%;height: 320px;}
#sec1 .iframeCnt iframe{width: 100%;height: 100%;}



#sec1 .activityTime{position: relative;float: left;width: 100%;background-color: #fff;border-radius: 5px;padding: 0 10px;margin: 20px 0px;}
#sec1 .activityTime .titleS{float: left; width: 160px;color: #fff;font-size: 18px;font-weight: bold;margin: 12px 5px;}
#sec1 .activityTime .titleS span{font-size: 30px;margin: 0 5px;}
#sec1 .activityTime .table{float: right;width: auto;font-size: 18px;margin: 12px 5px;}
#sec1 .activityTime .table td{font-size: 18px;font-weight: bold;padding: 0;text-align: center;opacity: 0.6;}
#sec1 .activityTime .table .bigShow td{font-size: 32px;}
#sec1 .activityTime .table .sDay,#sec1 .activityTime .table .sHour,#sec1 .activityTime .table .sMin,#sec1 .activityTime .table .sSec{font-size: 40px;opacity: 1;}

#sec1 .currentValue{float: left;color: #ddd;font-size: 16px;margin-top: 20px;}

#sec1 .wPaperBtn,#sec1 .lPaperBtn,#sec1 .buyBtn{padding:10px 20px;font-size: 20px;transition: all .2s;}
#sec1 .wPaperBtn,#sec1 .lPaperBtn{color: #fff;border:1px #fff solid;background-color: rgba(0,0,0,0.3);margin-right: 10px;}
#sec1 .wPaperBtn:hover,#sec1 .lPaperBtn:hover{color: #3a3a3a;background-color: #fff;border:1px #fff solid;margin-right: 10px;}
#sec1 .buyBtn{color: #fff;background-color: #c10214;}
#sec1 .buyBtn:hover{background-color: #800611;}

#sec1 .share{position: relative;float: right;margin: 0;padding: 10px;border-radius: 5px;}
#sec1 .share .title{color: #ddd;float: left;font-size: 24px; line-height: 30px;padding: 6px 0;}
#sec1 .share a{font-size: 24px;color: #ddd;text-align: left;}
#sec1 .share a:hover{color: #ddd;}

/*==============================section2 區塊==============================*/

#sec2 {padding-top: 100px;background-color: #fff;}
#sec2 .title{font-size: 24px;font-weight: bold;margin-bottom: 5px;}
#sec2 .desc{font-size: 30px;font-weight: bold;color: #c10214;margin-bottom: 20px;}
#sec2 a{font-size: 16px;text-decoration: underline;}
#sec2 .goBtn{height:auto;padding: 20px 0;background-color: #c10214;margin:20px 0;}
#sec2 .goBtn a{font-size: 20px;color: #fff;text-decoration: none;}

#sec2 .progressCnt{position: relative;max-width: 1200px;box-shadow: 1px 1px 10px #8a8a8a;border-radius: 5px;margin:30px auto;padding:80px 40px 70px;}
#sec2 .progressCnt .date{font-size: 18px;margin-bottom: 20px;text-align: right;}
#sec2 .progressCnt .date a{color: #c10214;}
#sec2 .progressCnt .progress{position: relative;height: 70px;box-shadow: none;overflow:initial;}
#sec2 .progressCnt .progress-bar{background-color: #c10214;text-align: right;line-height: 50px;font-size: 14px;padding-right: 5px;font-weight: bold;text-shadow: 0 0 2px #c10314,0 0 2px #c10314,0 0 2px #c10314,0 0 2px #c10314,0 0 2px #c10314,0 0 2px #c10314,0 0 2px #c10314;}
#sec2 .progressCnt .softCap{position: absolute;width:2px;height: 140%;top:-15px;left:20%;background-color: #ddd;}
#sec2 .progressCnt .softCap .text{position: absolute;width: 60px;bottom:-5px;left:10px;color: #8a8a8a;}

#sec2 .progressCnt .progress{position: relative;height: 80px;box-shadow: none;overflow:initial;background-color: #c7c7c7;padding:20px 0;background-image: url('../img/runway.png');background-repeat: no-repeat;background-size: cover;background-position: center right;}
#sec2 .progressCnt .progress-bar.progress-bar-success{background-color: #ff8623;font-size: 12px;line-height:70px;text-align: right;padding-right: 10px;color: #c10214;}
#sec2 .progressCnt .progress-bar+.progress-bar{margin-right: 10px;}

        /* #sec2 .progressCnt .progress{height: 110px;padding:25px 0;} */
        #sec2 .progressCnt .softCap .lighthouse{position: absolute;width: 60px;left: -30px;top: -40px;}
        #sec2 .progressCnt .softCap .lighthouse img{width: 100%;}
        #sec2 .progressCnt .airplane{position: absolute;height: 40px;margin-left:20px;}
        #sec2 .progressCnt .airplane img{height: 100%;}

#sec2 .progressCnt .startNum{float:left;color: #3a3a3a;font-size: 24px;font-weight: bold;}
#sec2 .progressCnt .endNum{float:right;color: #3a3a3a;font-size: 24px;font-weight: bold;}

/*==============================section3 區塊==============================*/

#sec3 {padding-top: 100px;overflow: hidden;}
#sec3 .coin{width: 80px;margin-bottom: 10px;}
#sec3 .coin img{width: 100%;}
#sec3 .title{font-size:30px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec3 .title span{padding:0px;color: #c10214;}
#sec3 .desc{font-size: 16px;line-height: 25px;color: #fff;max-width: 700px;margin:auto;margin-bottom: 20px;}

#sec3 .seeBtn{color: #fff;background-color: #c10214;padding:10px 30px;font-size: 20px;transition: all .2s;margin-bottom: 20px;}
#sec3 .seeBtn:hover{background-color: #800611;}

#sec3 .leftText{margin-bottom: 50px;}
#sec3 .rightText{color: #fff;font-size: 18px;margin-bottom: 50px;}
#sec3 .rightText ul li{padding: 10px;border-radius: 5px;}
#sec3 .rightText ul li:hover{background-color: #27313b;}

#sec3 .cubeCnt{display: flex;margin-bottom: 30px;}

#sec3 .cube{display: flex;height: 100%;border-radius: 5px;padding:30px;background-color: #fff;box-shadow: 0 0 40px rgba(0,0,0,0.3);}
#sec3 .cube .title{width:45%;color: #c10214;font-size: 20px;font-weight: bold;margin-right: 5%;}
#sec3 .cube .title span{font-size: 50px;font-weight: bold;margin-right: 5px;}
#sec3 .cube .desc{width:50%;color: #6a6a6a;margin: auto;}

#sec3 .iframeCnt{width: 100%;height: 640px;margin-bottom: 50px;}
#sec3 .iframeCnt iframe{width: 100%;height: 100%;}

#sec3 .whiteArraw{
    position: absolute;
    width:2000px;height:300px;
    left: 50%;margin-left: -1000px;
    bottom: -5px;
    border-top:300px transparent solid;
    border-right:2000px #fff solid;
    z-index: -1;
}

/*==============================sectionA 區塊==============================*/

#secA {padding-top: 120px;background-color: #fff;}
#secA .articleCnt{padding:0px;text-align: center;margin-bottom: 80px;}
#secA .title{font-size:30px;font-weight: bold;margin-bottom: 40px;}
#secA .title span{padding:0 10px;color: #c10214;}
#secA img{width: 100%;}

#secA .row {display: flex;}
#secA .cube{height: 100%;box-shadow: 0 0 40px rgba(0,0,0,0.1);border-radius: 5px;padding: 20px;}
#secA .cube.c1 .circleCnt{background-image: url('../img/Logo_Boeing.png');}
#secA .cube.c2 .circleCnt{background-image: url('../img/Logo_Atr.png');}
#secA .cube.c3 .circleCnt{background-image: url('../img/Logo_Airbus.png');}

#secA .cube .buyIcon{text-align: left;font-size: 20px;font-weight: bold;}
#secA .cube .buyIcon img{width: 60px;}
#secA .cube .circleCnt{width:100%;padding-bottom: 100%;background-color: #f8f8fa;margin-bottom: 10px;border-radius: 50%;background-size: 80%;background-repeat: no-repeat;background-position: center;}

#secA .table{margin:0;font-size: 18px;}
#secA .table>tbody>tr>td{color: #8a8a8a;}

/*==============================sectionA 區塊==============================*/

#secE {padding-top: 60px;background-color: #fff;}
#secE .articleCnt{padding:0px;text-align: center;margin-bottom: 80px;}
#secE .title{font-size:30px;font-weight: bold;margin-bottom: 20px;}
#secE .title span{padding:0 10px;color: #c10214;}
#secE .desc{font-size: 16px;text-align: left;line-height: 25px;}
#secE .articleCnt img{width: 100%;}
#secE .itemCnt{margin-bottom: 30px;}

/*==============================sectionA 區塊==============================*/

#secF {padding-top: 100px;background-color: #102550;}
#secF .articleCnt{padding:0px;text-align: center;margin-bottom: 80px;}
#secF .title{font-size:30px;font-weight: bold;margin-bottom: 20px;color: #fff;}
#secF .desc{font-size: 16px;text-align: left;line-height: 25px;}
#secF .items{font-size: 20px;text-align: center;color: #fff;}
#secF .items .col-xs-4{padding: 25px 0;}
#secF .items .status .sale{display: none;}
#secF .items .status .icon {display:none;}
#secF .items.focus{color:#de0b2e;background-color: #fff;font-size: 28px;font-weight: bold;border-radius: 5px;padding: 0;margin:20px 0;}
#secF .items.focus .status{background-color:#de0b2e;color: #fff;border-radius: 0 5px 5px 0;padding-left: 10px;padding-right: 10px;cursor: pointer;}
#secF .items.focus .status .sale{display: block;position: absolute;width:155px;left:50%;margin-left:-78px;font-size: 18px;color:#de0b2e;background-color: #fff;top:-20px;padding: 5px 10px;border-radius: 5px;}
#secF .items.focus .status .time {display:inline-block;width: calc(100% - 35px);}
#secF .items.focus .status .icon {display:inline-block;width: 15px;}

/*==============================sectionB 區塊==============================*/

#secB {padding-top: 100px;background-color: #f7f7f7;}
#secB .articleCnt{padding:0px;text-align: center;}
#secB .articleCnt img{width:100%;}
#secB .title{font-size:30px;font-weight: bold;margin-bottom: 20px;}
#secB .title span{padding:0 10px;color: #c10214;}
#secB .desc{font-size: 16px;font-weight: bold;line-height: 25px;max-width: 700px;margin:25px auto 40px;}

#secB .cubeCnt{display: flex;float: left;margin: 50px 0;}
#secB .cube{height: 100%;border-radius: 5px;padding:30px;background-color: #fff;border:1px #ddd solid;}
#secB .cube .title{font-size: 30px;font-weight: bold;margin: 20px 0 5px;}
#secB .cube .desc{color: #6a6a6a;margin: 10px 0 0px;}
#secB .cube .numberCircle,#secB .cube .coinCircle{position:absolute;width: 50px;height: 50px;top:-30px;left: 50%;margin-left:-25px;border-radius: 50%;overflow: hidden;transition: all 0.3s;}

#secB .cube .numberCircle{color: #fff;background-color: #de0b2e;font-size: 24px;text-align: center;line-height: 50px;}
#secB .cube .coinCircle{background: url('../img/coin.png')no-repeat center;background-size: cover;}

#secB .cube:hover .numberCircle{margin-left:-50px;}
#secB .cube:hover .coinCircle{margin-left:-10px;}

/*==============================sectionC 區塊==============================*/

#secC {padding-top: 100px;background-color: #fff;}
#secC .articleCnt{padding:0px;text-align: center;margin-bottom: 80px;}
#secC .title{font-size:30px;font-weight: bold;margin-bottom: 20px;}
#secC .title span{padding:0 10px;color: #c10214;}
#secC .desc{font-size: 16px;text-align: left;line-height: 25px;}
#secC .articleCnt img{width: 100%;}
#secC .itemCnt{margin-bottom: 30px;}

/*==============================sectionC 區塊==============================*/

#secD {padding-top: 100px;background-color: #f7f7f7;}
#secD .articleCnt{padding:0 40px;text-align: center;margin-bottom: 80px;}
#secD .title{font-size:30px;font-weight: bold;margin-bottom: 20px;}

#secD .thumbnail{padding:0;border:none;overflow: hidden;}
#secD .thumbnail .caption{line-height: 24px;height: 320px;padding: 9px 20px;}
#secD .thumbnail .caption h3{font-weight: bold;}
#secD .thumbnail .caption small{color: #5a5a5a;font-weight: bold;letter-spacing: 2px;margin:0 10px;}

#secD .articleCnt.a1 .thumbnail{background-color: #bdc8e6;box-shadow: 0 0 20px #ddd;}
#secD .articleCnt.a1 .thumbnail.boss{background-color: #507fe7;}
#secD .articleCnt.a1 .thumbnail .caption{background-color: #fff;}
#secD .articleCnt.a1 .thumbnail .caption .item{text-align: left;height: 200px;overflow-y: auto;}
#secD .articleCnt.a2 .thumbnail{background-color: transparent;margin-bottom: 50px;}
#secD .articleCnt.a2 .thumbnail img{width: 100%;}
#secD .articleCnt.a2 .thumbnail .caption{margin:auto;height:auto;}
#secD .articleCnt.a3 .thumbnail{background-color: transparent;margin-bottom: 50px;}
#secD .articleCnt.a3 .title span{color: #2365a1;}
#secD .articleCnt.a3 .thumbnail img{width: 100%;}
#secD .articleCnt.a3 .thumbnail .caption{margin:auto;height:auto;padding: 9px 0;}
/* #secD .articleCnt.a3 .photo .thumbnail .caption{position: absolute;} */

/*==============================section4 區塊==============================*/

.section.information.num-1{padding-top: 90px;padding-bottom: 60px;background-color: #fff;}
.section.information.num-1 .title-region{font-size:30px;font-weight: bold;margin-bottom: 20px;text-align: center;}
.section.information.num-1 .thumbnail{position: relative;padding: 0px;border-radius: 0px;border: none;}
.section.information.num-1 .itemBox a{display: flex;text-decoration: none;box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);transition: all 0.3s;}
.section.information.num-1 .itemBox a:hover{box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.15);}
.section.information.num-1 .itemBox .imgBox{width: 45%;}
.section.information.num-1 .itemBox .imgBox img{width: 100%;height: auto;}
.section.information.num-1 .text-box{width: 55%;height: auto;padding: 19px 0px 10px 11px;}
.section.information.num-1 .descBox{font-size: 16px;height: 45px;-webkit-line-clamp: 2;color: #606060;}
.section.information.num-1 .more-box{position: absolute;font-size: 16px;font-weight: bold;bottom: 10px;right: 16px;color: #c10214;}
.section.information.num-1 .more-box i{margin-right: 10px;}

/*==============================section5 區塊==============================*/

/*==============================section6 區塊==============================*/

.section.information.num-3{padding: 60px 0;background-color: #fff;}
.section.information.num-3 .title-region{font-size:30px;font-weight: bold;margin-bottom: 20px;text-align: center;}
.section.information.num-3 ul{list-style: none;margin: 0px;padding: 0px 15px;}
.section.information.num-3 li{position: relative;padding: 6px 100px 6px 0;line-height: 28px;border-bottom: 1px solid #dddddd;}
.section.information.num-3 li a{color: #c10214;text-decoration: none;display: block;font-size:18px;}
.section.information.num-3 li .date{position: absolute;bottom: 5px;right: 20px;color: #6a6a6a;font-size:14px;}

/*==============================section7 區塊==============================*/

#sec7 {padding-top: 100px;}
#sec7 .articleCnt{text-align: center;margin-bottom: 100px;}
#sec7 .title{font-size:30px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec7 .title span{padding:0 10px;color: #c10214;}
#sec7 .desc{font-size: 16px;line-height: 25px;color: #fff;max-width: 300px;margin:auto;margin-bottom: 40px;background-color: #c10214;padding:5px;border-radius: 5px;}
#sec7 .btn{margin:10px;padding:5px 40px;}
#sec7 .btn a{color: #fff;}
#sec7 .btn svg{font-size: 30px;margin:5px;}
#sec7 .facebookBtn{background-color: #3a5999;}
#sec7 .twitterBtn{background-color: #0db2f4;}
#sec7 .googleBtn{background-color: #d97d6e;}

/*==============================section8 區塊==============================*/

#sec8{    
    background-image: url('../img/subscribe_bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 130px 0 60px;
}

#sec8 {padding-top: 100px;}
#sec8 .articleCnt{text-align: center;margin:0 auto 100px;max-width: 600px;}
#sec8 .title{font-size:30px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec8 .title span{padding:0 10px;color: #c10214;}
#sec8 .desc{font-size: 16px;line-height: 25px;color: #fff;margin:auto;margin-bottom: 40px;}
#sec8 .joinBtn{color: #fff;background-color: #de0b2e;}
#sec8 input{color: #6a6a6a;background-color: #fff;}

/*==============================media 區塊==============================*/

@media (max-width: 1200px)  {
    #sec1 .iframeCnt{height: 260px;}
}

@media (max-width: 992px)  {
    #sec1{padding: 60px 0;}
    #sec1 .leftText,#sec1 .rightText{margin: 40px 0px 20px;}
    #sec1 .iframeCnt{height: 410px;margin-bottom: 0;}
    #sec1 .share{margin:0;}

    #sec3 .iframeCnt{height: 540px;}
    #sec3 .cubeCnt{display: block;margin-bottom: 0;}
    #sec3 .cube{margin-bottom: 20px;}    
    #sec3 .cube .title{width:30%;margin-right: 5%;margin-bottom: 0;}
    #sec3 .cube .desc{width:65%;}

    #secF .items{font-size: 18px;}
    #secF .items .col-xs-4{padding: 10px 0;}
    #secF .items.focus{font-size: 20px;}
    #secF .items.focus .status .sale{font-size: 14px;padding: 2px 4px;border:1px #de0b2e solid;}

    #secA .row {display: block;}
    #secA .item{margin-top: 0%;}
    #secA .buyIcon{margin-top: 0%;margin: 30px 0;}
    #secA .cube.c3{margin-top: 0%;}
}

@media (max-width: 768px)  {
    /* #sec1 .iframeCnt{display: none;} */
    #sec2 {padding-top: 20px;}
    #sec2 .goBtn{width: 200px;margin: 20px auto;padding: 10px;display: block;}
    #sec2 .progressCnt .softCap .lighthouse,#sec2 .progressCnt .airplane{display: none;}
    #sec2 .progressCnt .progress {height: 80px;padding: 15px 0;}
    /* #sec2 .progressCnt .softCap .text{bottom:-15px;} */
    #sec2 .progressCnt .progress-bar{line-height: 50px;}

    #sec3 .leftText{text-align: center;}
    #sec3 .coin{width:110px;margin: auto;}
    #sec3 .iframeCnt{height: 230px;}
    #sec3 .cubeCnt{display: block;}
    #sec3 .cube{margin-bottom: 30px;}

    #secB .cubeCnt{display: block;float: initial;margin:0;}
    #secB .cube{margin-bottom: 50px;}
    #secB .title {margin-bottom: 50px;}

    #secD .thumbnail .caption{height: auto;}

    #secF .items{padding: 0 10px;}
    #secF .items.focus .col-xs-4{width:100%;}
    #secF .items.focus .status{margin-top: 20px;border-radius: 0 0 5px 5px;}
}

@media (max-width: 576px)  {
    #sec1,#sec8{background-position: center 150%;}
    #sec1 .share{background-color:rgba(0,0,0,0.3);}
    #sec1 .share .btn{padding: 6px;}
    #sec1 .share .title,#sec1 .share a{font-size: 18px;}
    #sec1 .wPaperBtn, #sec1 .lPaperBtn, #sec1 .buyBtn,#sec8 .wPaperBtn, #sec8 .lPaperBtn{width:100%;font-size: 16px;margin-top: 15px;}

    #sec1 .activityTime{margin:20px 0;background-color: #2e142f;padding: 10px;}
    #sec1 .activityTime .titleS{width: 100%;margin:0;padding-bottom:5px;text-align: center;border-bottom:1px #b1a6d9 dashed;}
    #sec1 .activityTime .table{width: 100%;margin:0;}
    #sec1 .iframeCnt{height: 220px;}
    #sec1 .leftText .btnGroup {float: initial;}
    #sec1 .rightText{margin:0;}

    #sec2 .progressCnt{padding:20px 10px 40px;}
    #sec2 .progressCnt .startNum ,#sec2 .progressCnt .endNum {font-size: 18px;}
    #sec2 .progressCnt .percent {font-size: 24px;}
    #sec2 .progressCnt .progress-bar {padding-right: 10px;}
    #sec2 .progressCnt .date{font-size: 16px;}
    /* #sec2 .progressCnt .softCap .text{display: none;} */
    
    #sec3 .cubeCnt{display: block;margin-bottom: 0px;}
    #sec3 .cube{margin-bottom: 20px;padding: 10px;}
    #sec3 .cube .title{width:40%;margin-right: 5%;margin-bottom: 0;text-align: center;}
    #sec3 .cube .title span{font-size: 40px;}
    #sec3 .cube .desc{width:55%;}

    #sec7 .btn{width: 100%;margin:0 0 10px 0;}

    #secA .articleCnt{padding:0 10px;}
    #secB .articleCnt{padding:0 10px;}
    #secC .articleCnt{padding:0 10px;}
    #secD .articleCnt{padding:0 10px;}

    #secC .item{padding:5px;}
    
    #secD .articleCnt.a2 .thumbnail{margin-bottom: 30px;}
    #secD .articleCnt.a2 .thumbnail .caption{width: auto;}

}


















