/*==============================section3 區塊==============================*/

#sec1 {padding: 130px 0 60px;}
#sec1 .articleCnt{text-align: center;margin-bottom: 100px;max-width: 500px;margin: auto;}
#sec1 .cubeBtn{position: relative;display: inline-block;width:200px;height:160px;background-color: #fff;margin:10px;padding:0;border-radius: 5px;cursor: pointer;border:none;overflow: hidden;}
#sec1 .cubeBtn:hover .titleS{line-height: 70px;}
#sec1 .cubeBtn:hover .name{line-height: 60px;}

#sec1 .title{font-size:30px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec1 .titleS{font-size:24px;font-weight: bold;color: #3a3a3a;line-height: 120px;transition: all 0.3s;}
#sec1 a{text-decoration: none;}
#sec1 .name{position: absolute;width:100%;font-size: 18px;line-height: 25px;color: #fff;padding:15px;bottom:0;transition: all 0.3s;}
#sec1 .name.blue{background-color: #34a0fa;}
#sec1 .name.red{background-color: #bf0312;}
#sec1 .text{font-size: 14px;color: #ddd;margin-top: 10px;}

/*==============================media 區塊==============================*/

@media (max-width: 992px)  {

}

@media (max-width: 768px)  {

}

@media (max-width: 576px)  {
    #sec1 .cube{margin-bottom: 20px;}
    #sec1 .articleCnt .table td{padding:2px;}
}


















