/*==============================section3 區塊==============================*/

#sec1 {padding: 130px 0 60px;}
#sec1 .articleCnt{text-align: center;margin-bottom: 100px;max-width: 500px;margin: auto;}
#sec1 .title{font-size:30px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec1 .title span{padding:0 10px;color: #c10214;}
#sec1 .desc{font-size: 16px;line-height: 25px;color: #fff;max-width: 700px;margin:auto;margin-bottom: 40px;}
#sec1 .btn{color:#fff;background-color:#c10214;font-size: 24px;width:200px;height: auto;margin-top: 50px;}
#sec1 .forgotCnt{margin-top: 20px;}
#sec1 .forgotCnt a,#sec1 .forgotCnt .text{font-size: 16px;}
#sec1 .forgotCnt .text{color:#fff;margin-right: 10px;}

/*==============================media 區塊==============================*/

@media (max-width: 992px)  {

}

@media (max-width: 768px)  {

}

@media (max-width: 576px)  {
    #sec1 .cube{margin-bottom: 20px;}
    #sec1 .articleCnt .table td{padding:2px;}
}


















