body {font-family: "微軟正黑體", "Microsoft JhengHei";background-color: #102550;}

.ellipsis{display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}

.canvasArea{position: fixed;width: 100%;height: 100%;z-index: -1;}
#particle-canvas {width: 100%;height: 100%;}
.content{min-height: 650px;}
/* .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{max-height:initial ;} */
.btn{box-shadow: none;}

/*==============================header nav區塊==============================*/

nav.navbar{background-color: #000;border:none;}
#logo {padding: 10px;width: 160px;height: 60px;}
#logo>img{height: 100%;}

nav.navbar .navbar-nav>li>a,nav.navbar .navbar-nav>li>a:hover,nav.navbar .navbar-nav>li>a:focus{color: #fff;font-weight: bold;padding: 20px 10px;text-align: center;}
nav.navbar .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color:#c10214;color: #fff;}
nav.navbar .navbar-nav>li:hover,nav.navbar .navbar-nav>li.buy{background-color:#c10214;}
nav.navbar .navbar-toggle,nav.navbar .navbar-toggle:hover{border:none;color: #fff;background-color: transparent;}
/* .navbar-fixed-top .navbar-collapse{max-height: initial;} */

nav.navbar .dropdown-menu{padding:0;background-color: #eee;min-width: none;}
nav.navbar .dropdown-menu form{padding: 10px;}
nav.navbar .dropdown-menu .loginBtn{background-color: #c10214;border:none;border-radius: 0 0 3px 3px;text-align: center;color: #fff;}
nav.navbar .dropdown-menu .loginBtn:hover{text-decoration: underline;}
nav.navbar .dropdown-menu>li>a {padding: 10px 40px;font-size: 18px;text-align: center;}
nav.navbar li.dropdown.open{background-color: #eee;}

/*==============================airDrop區塊==============================*/

.airDropBtn{position: fixed;top:80px;right:-5px;cursor: pointer;z-index: 999;border-radius: 50%;overflow: hidden;}
.airDropBtn .shineCube{position: absolute;width:20px;height:150px;top:50px;left:-50px;transform:rotate(-45deg);background-color: #fff;transition: all 0.5s;box-shadow: 0 0 50px #fff;-webkit-animation: shineCube 1s infinite linear;}
/* .airDropBtn:hover .shineCube{top:-150px;left:200px;} */

@keyframes shineCube {
    from {top:50px;left:-50px;}
    to {top:-150px;left:200px;}
}

/*==============================footer nav區塊==============================*/

footer.footer{width: 100%;background-color: #000;padding:20px 0;color: #8a8a8a;}
footer.footer a{color: #8a8a8a;text-decoration: underline;line-height: 30px;}
footer.footer a:hover{color: #ddd;}
footer.footer .title {font-size: 24px;font-weight: bold;color: #ddd;}
footer.footer .btn{padding:0;padding-right:20px;border-radius: 0;}
footer.footer .btn svg{font-size: 16px;}
footer.footer .btnGroup.left .btn+.btn{border-left:1px #ddd solid;}
footer.footer .copyright{text-align:center;color: #8a8a8a;}
footer.footer .fContent{padding: 5px 0 20px;}

/*==============================other 區塊==============================*/

.nav-tabs.nav-justified>a, .nav-tabs.nav-justified>a:focus, .nav-tabs.nav-justified>a:hover,
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
	color: #c10214;font-size: 16px;font-weight: bold;padding: 5px;border: 2px #c10214 solid;border-width: 0 0 2px 0;background-color: transparent;border-radius: 0;
}
.nav-tabs.nav-justified>li>a {color: #fff;font-size: 16px;padding: 5px;background-color: transparent;border: none;border-bottom: 2px #fff solid;border-radius: 0;}

.form-horizontal .control-label{color: #fff;text-align: left;}
.tab-content{padding:40px 0;}
input.form-control,select.form-control,textarea.form-control{color:#fff;background-color: #5c6471;border:none;}
input.form-control::-webkit-input-placeholder{color: #adadad;}
input.form-control[disabled], input.form-control[readonly]{background-color: #2d3542;}

.saveBtn,.sendBtn{height:auto;font-size:18px;background-color: #c10214;color: #fff;margin-top: 20px;padding:5px 40px;}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{color: #fff;border:none;}
.table>thead>tr>th{font-size: 18px;}

.note{margin: 30px 0 10px;}
.note .text{color: #fff;}

.scrollbox{width:10em;height:10em;overflow:auto;visibility: hidden;}

/*==============================modal 區塊==============================*/

.modal .modal-content{text-align: center;background-color: #ddd;}
.modal .modal-header{border:none;}
.modal .title{font-size:30px;font-weight: bold;margin-bottom: 10px;}
.modal .desc{font-size: 16px;line-height: 25px;margin:auto;margin-bottom: 40px;line-height: 30px;}
.modal .dBtn{background-color: #fff;transition: all 0.3s; margin-bottom: 10px;}
.modal .dBtn:hover{color: #fff;background-color: #c10214;}
.modal .descS{font-size: 16px;line-height: 25px;margin:auto;margin-bottom: 40px;line-height: 30px;padding: 20px;background-color: #fff;text-align: left;border-radius: 5px;}
.modal .table>tbody>tr>td{font-size: 16px;color: #333;border: 1px #8a8a8a solid;}
.modal img{max-width: 100%;}

/*==============================media 區塊==============================*/

@media (max-width: 992px)  {

}

@media (max-width: 768px)  {
	.navbar-nav {display: grid;}
	.navbar-nav li.dropdown{order: -1;}

	footer.footer .btn{margin:0;}	
	footer.footer .btnGroup.center,footer.footer .copyrightR{float:initial;margin:5px auto;text-align: center;}
	footer.footer .table{width:auto;left:50%;margin-left: -120px;}	
	footer.footer .title {float: initial;margin-bottom: 10px;}
}

@media (max-width: 576px)  {
	.airDropBtn{top:initial;bottom: -20px;right:-15px;transform: rotate(-30deg);box-shadow: 0 0 20px #3a3a3a;}
	
	footer.footer .table{width:auto;left:50%;margin-left: -140px;}
}










