/*==============================section3 區塊==============================*/

#sec1 {padding: 130px 0 60px;}
#sec1 .articleCnt{text-align: center;margin-bottom: 100px;/* max-width: 900px; */margin: auto;}
#sec1 .title{font-size:30px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec1 .title span{padding:0 10px;color: #c10214;}
#sec1 .desc{font-size: 16px;line-height: 25px;color: #fff;max-width: 700px;margin:auto;margin-bottom: 40px;}
#sec1 .selectBtn{color:#fff;background-color: #33a1fa;}
#sec1 .form-control[readonly]{background-color: #5c6471;}
#sec1 #p2{overflow: auto;}
#sec1 #p2 .table{min-width: 850px;}
#sec1 #p2 .table th{text-align: center;}
#sec1 #p4 .sendBtn{margin-top: 0;padding: 0;font-size: 14px;}
#sec1 .note{margin: 0;margin-bottom: 20px;}

.card{border-radius: 4px;overflow: hidden;margin: 20px 0;background-color: #1f262e;}
.card-header{background-color: #5c6471;}
.card-header .btn{position: relative;width: 100%;color: #fff;font-size: 18px;text-decoration: none;text-align: left;}
.card-header .btn svg{font-size: 30px;margin-right: 10px;}
.card-header .btn .angleIcon {position: absolute;right: 10px;font-size: 24px;}
.card-header .btn .angleIcon svg{transform: rotate(180deg);transition: all 0.3s;}
.card-header .btn.collapsed .angleIcon svg{transform: rotate(0deg);}
.card-body{padding: 30px;color: #fff;line-height: 40px;}
.table>tbody>tr>td{line-height: 40px;}
.table .btn{display: block;}

.stepStatus{border:none;color: #fff;background-color: transparent;}
.stepStatus.green{background-color: #40af49;}
.stepStatus.yellow{background-color: #e2ac0e;}
.stepStatus.red{background-color: #dd0c2b;}

/*==============================media 區塊==============================*/

@media (max-width: 992px)  {

}

@media (max-width: 768px)  {

}

@media (max-width: 576px)  {
    #sec1 .cube{margin-bottom: 20px;}
    #sec1 .articleCnt .table td{padding:2px;}

    .card-header .btn{font-size: 15px;padding: 5px 3px;}
    .card-header .btn svg{font-size: 16px;margin-right: 5px;}
    .card-header .btn .angleIcon {right: 5px;font-size: 18px;}
}


















