/*==============================section3 區塊==============================*/

#sec1 {padding: 130px 0 60px;}
#sec1 .articleCnt{text-align: center;margin-bottom: 100px;max-width: 500px;margin: auto;}
#sec1 .title{font-size:30px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec1 .titleS{font-size:18px;color: #fff;transition: all 0.3s;margin-top: 30px;}
#sec1 .note{font-size: 14px;color: #fff;margin:25px auto;}

#sec1 .todayVal{color:#fff;background-color:#c10214;padding:5px;border-radius: 5px;margin:auto;margin-bottom: 5px;}
#sec1 .allnVal{color:#fff;margin: 5px;}
#sec1 .usdText{background-color:#c10214;border-radius: 5px;padding: 10px;color: #fff;line-height: 30px;}

#sec1 .cubeBtn{position: relative;display: inline-block;width:200px;height:160px;background-color: #fff;transition: all 0.3s;margin:10px;padding:0;border:none;border-radius: 5px;cursor: pointer;overflow: hidden;}
#sec1 .cubeBtn:hover .titleS{line-height: 70px;}
#sec1 .cubeBtn.c1{background-image: url('../img/ETHEREUM-LOGO_PORTRAIT_Black_small.jpg');background-size: cover;}
#sec1 .cubeBtn.c2{background-image: url('../img/opengraph.png');background-size: cover;}
#sec1 .cubeBtn.c3{max-width:450px;width:100%;margin:20px 0;padding:20%;background-image: url('../img/usdPic.jpg');background-size: contain;background-position: center;background-repeat: no-repeat;}
#sec1 .cubeBtn.c1:hover,#sec1 .cubeBtn.c2:hover{background-position: 10%;border-bottom: 5px #c10214 solid;}
/* #sec1 .cubeBtn.c1:hover,#sec1 .cubeBtn.c2:hover{background-position: 10%;box-shadow: 0 0 30px #c10214;} */
#sec1 .payBtn{color:#fff;background-color:#c10214;font-size: 24px;width:200px;height: auto; }

#sec1 form.form-inline{color: #fff;}
#sec1 form.form-inline .form-group>*{margin:5px;}

#sec1 .checkbox{color: #ddd;font-weight: bold;margin:5px;}
#sec1 .stepBtn{margin-bottom: 20px;}
#sec1 .checkbox a,#sec1 .stepBtn a{color: #2da0f9;font-weight: bold;}
#sec1 .note .text{color: yellow;font-size:18px;}

#sec1 .articleCnt .table td{font-size:18px;padding:10px;}
#sec1 .articleCnt .table>tbody>tr>td{line-height: 40px;}

/*==============================media 區塊==============================*/

@media (max-width: 992px)  {

}

@media (max-width: 768px)  {

}

@media (max-width: 576px)  {
    #sec1 .cube{margin-bottom: 20px;}
    
}


















