/*==============================section3 區塊==============================*/

#sec1 {padding: 130px 0 60px;}
#sec1 .articleCnt{text-align: center;margin-bottom: 100px;max-width: 500px;margin: auto;}
#sec1 .title{font-size:30px;font-weight: bold;color: #fff;margin-bottom: 20px;}
#sec1 .titleS{font-size:18px;color: #fff;transition: all 0.3s;margin: 30px 0 10px;}
#sec1 .note{font-size: 14px;color: #fff;margin:25px auto;}

#sec1 .todayVal{width:250px;color:#fff;background-color:#c10214;padding:5px;border-radius: 5px;margin:auto;margin-bottom: 5px;}
#sec1 .allnVal{color:#fff;margin: 5px;}

#sec1 .thumbnail{background-color:transparent;border:none;}
#sec1 .copyBtn{background-color: #2da0f9;color: #fff;}

/*==============================media 區塊==============================*/

@media (max-width: 992px)  {

}

@media (max-width: 768px)  {

}

@media (max-width: 576px)  {
    #sec1 .cube{margin-bottom: 20px;}
    #sec1 .articleCnt .table td{padding:2px;}
}


















