/*Cropper Image*/
.image-box {
    width: 15%;
    min-width: 100px;
    max-width: 115px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.image-box .image-del {
    font-size: 8pt;
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 3px 8px;
    margin: 0;
}

.cropper_image img {
    min-width: 100px;
    max-width: 115px;
    height: auto;
}

.image-box > .image-del {
    cursor: pointer;
}

.btn-image-modal {
    cursor: pointer;
}

/* Zin Code */
.vZipCode {

}

.vCounty {

}

.vDistrict {

}

.twzipcode select,.twzipcode input{
    width: calc(100% / 3 - 15px);
    padding: 0 12px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #898989;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}