<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
</head>

<div style="margin:0px">
    <div style="font-family:'\005fae\008edf\006b63\009ed1\009ad4','Microsoft JhengHei',Arial,sans-serif;width:100%;background-color:#f3f2ee">
        <table style="width:100%;margin:0px auto;height:120px;background-color:#000;">
            <tbody>
                <tr>
                    <td style="vertical-align:top;padding:8px">
                        <img src="img/logo.png" alt="" style="width:150px;height:auto;" class="CToWUd">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;vertical-align:bottom;font-size:16px;color:#ddd;padding:10px 15px 15px;letter-spacing:1px;">Registration success notification letter
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="width:100%;margin:0 auto;background-color:#ffffff">
            <div style="color:#6a6a6a;padding:50px 5px;margin-bottom: 20px;">
                <div style="border-left:5px solid #6a8e24;padding:2px 10px;font-size:22px;font-weight:900;letter-spacing:1px;color:#6a6a6a;margin-bottom:50px">
                    <div style="margin-bottom:4px">Sender：<span style="color:#789162;font-weight:800"></span>ALLN-Token Team</div>
                    <div style="font-size:14px;color:#898989;font-weight:normal">Please complete verifying your email for your ALLN-Token account.</div>
                </div>
                <div style="font-size:18px;line-height:30px;padding:0 15px;text-align:justify">
                    Hi,<br>We have received your request to activate your ALLN-Token website account.<br>Please click the URL link to confirm your email correct to connect to website account.<br><br>Thank you.<br><br>您好，<br>我们已经顺利接收到您注册验证信件。欢迎您加入ALN。<br>请您点击下方链接完成信件验证。谢谢!<br><br><a href="" target="_blank" data-saferedirecturl="" data-saferedirectreason="2">Verify your email here!</a><br><br>ALLN-Token Team<br><br>
                </div>
                <div style="font-size:14px;line-height:30px;padding:25px 15px 5px;">
                    Facebook：<a href="https://www.facebook.com/ALLNTOKEN" target="_blank">https://www.facebook.com/ALLNTOKEN</a><br>
                    Twitter：<a href="https://t.me/allntoken" target="_blank">https://t.me/allntoken</a><br>Email：<a href="mailto:service@allntoken.io" target="_blank">service@allntoken.io</a>     
                </div>
            </div>
        </div>
        <div style="padding:25px;text-align:center;background-color:#789162;color:#fff;letter-spacing:1px;font-size:16px"></div>
        <div style="height:20px;font-size:12px;letter-spacing:1px;background-color:#000000;color:#ffffff;padding:11px;text-align:center">※此信件為系統發出信件，請勿直接回覆。</div>
        <div class="yj6qo"></div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
</div>