<div class="modal fade" id="serviceDesc" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="title">Terms of service</div>
                    <div class="descS">
                        These terms specify the terms and conditions you shall obey when using the services on the website or in the system of Airline and Life Networking (“ALLN”).  The ownership and operation concession of the website or system of ALLN belong to ALLN.  If you have any questions, please contact us in time.<br><br>You may only become a user of the website or system of ALLN and use the services on the website or in the system by entirely agreeing the following terms of service and completing the registration process.  You must read this terms and the privacy policy carefully before registering to become a user of the website or system of ALLN.  Once registering successfully, it signifies that you have read, agreed and accepted all of the terms and conditions of this agreement and privacy policy.<br><br>Once using the services in the website or the system of ALLN, it implies that you have comprehended and agreed to these terms of service, including the amendment of these terms from time to time. If you disagree to the amendment of these terms, you have to terminate your membership with the system or website of ALLN.<br><br>
                        1、Contents of service<br>
                        <ul>
                            <li>The website or system of ALLN provides access service to understand the basic information and services of ALLN, even to generate functions of online business in needs.</li>
                            <li>Our company will base on the practical condition to provide the specific functions and services in the website or system of ALLN and reserve the right to modify, amend or terminate any part of services.</li>
                            <li>According to the condition, our company reserves the right to modify the kind and form of the services in the website or system of ALLN. Our company does not assume users’ losses arising from any modification hereunder.</li>
                        </ul>
                        <br>
                        2、Privacy policy<br>
                        <ul>
                            <li>The main principle of the website or system of ALLN is to protect users’ privacy.  We provide the function of the protection of privacy through technology and strengthen our internal management adequately to protect the securities of users’ personal information.</li>
                            <li>Our company guarantees that we do not provide users’ personal data for registration and the non-disclosure contents stored when user uses the services to a third party.  Please refer to the “Privacy Policy” for the specific contents.</li>
                        </ul>
                        <br>
                        3、Standard of service<br>
                        <ul>
                            <li>A user shall provide the true personal data when applying for use the website of ALLN and update the data for registration from time to time.  ALLN will not be response for any problems and results arising from the untrue information for registration.</li>
                            <li>A user must obey the relevant laws of the located country in the course of using ALLN’s services.  A user may not use the services on the website of ALLN to publish illegal contents, such as to jeopardize the safety of country, about eroticism or violence and may not use the services on the website of ALLN to publish the information containing false, harmful, threatening, infringing a third party’s privacy, harassed, violate, defaming, vulgar contents or other morally offensive content.</li>
                            <li>We have the right to delete directly the contents breached hereunder where a user violates the laws of the country or infringes the legal interests of our partners when using our services.</li>
                            <li>A user may not use a third party’s contents for the purpose of business, unless otherwise obtaining the partner’s authorization.</li>
                            <li>A user may not create several accounts by the manner of through automatic programs and may not use automatic system to operate the account.</li>
                            <li>A user affecting the overall stability or integrity of operation of the system may be suspended or terminated the right of use until the problem is resolved.</li>
                            <li>A user may not violate these terms or malevolently use the open interface of the website of ALLN; otherwise we have the right to terminate services for such user at any time. A user shall be liable to compensate our losses due to the user’s breach hereof.</li>
                        </ul>
                        <br>
                        5、Intellectual property<br>
                        <ul>
                            <li>The copyright, patents, trademarks, trade secret and other ownership or rights related to the online services provided by ALLN belong to us. Without our prior consent, anyone or any user may not have any behavior, such as downloading, copying, transfer, adaptation and editing, etc. to infringe our interests, otherwise he/she will be liable for all legal responsibilities. We own the ownership right of data and information generated and stored in the ALLN’s server in the course of providing the online services to users.  A user may not obtain the source code of the software through illegal way without our grant.  Such source code of the software belongs to us.</li>
                        </ul>
                        <br>
                        6、Disclaimers<br>
                        <ul>
                            <li>The Internet is an open platform. A user uploads the personal data, such as photos, on the Internet, these data may be copied, transferred, deleted or used to other illegal purpose by other organization or individual.  Thus, a user must be fully aware of such risk and actually agree to use ALLN’s services at the user’s own risk. The user shall assume for any results arising from the use of ALLN’s services, and our company does not assume any responsibilities for any user.</li>
                            <li>Our company does not guarantee that the services provided on the website or in the system of ALLN will be satisfied every user’s request and that the services will be uninterrupted and the services will be instant, safe and accurate because the services are stored on the cloud. Our company does not assume any responsibilities for any interruption or other faults in the online services not due to ALLN’s causes.</li>
                            <li>A user will be liable for any disputes arising from the infringement of a third party’s intellectual property rights when creating software and we do not assume any responsibilities concerned.</li>
                        </ul>
                        <br>
                        7、Change, interruption or termination of service<br>
                        <ul>
                            <li>If the online services need to be suspended due to maintenance or upgrade of the system, ALLN will give prior notice of the change of the services on the website as far as possible.</li>
                            <li>If any of the following circumstances happens, we have the right to interrupt or terminate unilaterally the services provided to users without notifying users: 
                                <ul>
                                    <li>The personal information provided by a user is not true;</li>
                                    <li>A user breaches the terms of use and services hereof;</li>
                                    <li>A user uses the website or system of ALLN for the illegal purposes without our consent;</li>
                                    <li>A user has a behavior to breach the term of Intellectual Property and infringe our legal rights and interests.</li>
                                </ul>
                            </li>
                        </ul>
                        <br>
                        8、Specific agreement<br>
                        <ul>
                            <li>We have the right to delete directly the information breached hereunder and to suspend or terminate the services to a user where the user violates the laws of the country or infringes the legal interests of a third party when using our services.</li>
                            <li>If a user uses our services involving in any illegal or infringing behavior, the user will be liable for all responsibilities and also fully compensate for our or any partner’s losses arising therefrom.</li>
                            <li>Our company may increase information, such as a frequency channel or column, on the interface of software in our sole discretion, and users agree and accept our arrangement, and we will not let this management to cause users’ use of software any negative impact as far as possible.</li>
                        </ul>
                        <br>
                        9、Settlement of disputes<br>
                        <ul>
                            <li>Any dispute arising from or related to these terms will be settled by arbitration to an arbitrative or juridical entity according to the existing arbitration law when the arbitration is filled, whose award shall be final and binding on both parties.</li>
                        </ul>
                        <br>
                        10、Governing Law<br>
                        <ul>
                            <li>Any matter related hereto is governed by the laws of place where the user is located.</li>
                        </ul>
                        <br>
                        11、Amendment and interpretation of these terms<br>
                        <ul>
                            <li>We will update our terms of services from time to time in accordance with the laws of country where the server is located and the development of the Internet.  When an authorized person uses our services on the platform, our latest terms of services will be appeared for users to make sure again.  In case of disputes, the latest version shall always prevail.</li>
                            <li>We have the right to the final interpretation of these terms.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>